<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUFeedURL</key>
    <string>https://performancehud-updates.unturneded7.workers.dev/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>BHm+yGOdxJQspqx+vuPUIye0zWmnELuUrmFjbjg5Cfg=</string>
    <key>SUEnableAutomaticChecks</key>
    <false/>
    <key>SUScheduledCheckInterval</key>
    <integer>604800</integer>
    <key>SUAllowsAutomaticUpdates</key>
    <false/>
    <key>SUAutomaticallyUpdate</key>
    <false/>
    <key>SUEnableSystemProfiling</key>
    <false/>
    <key>SUVerifyUpdateBeforeExtraction</key>
    <true/>
    <key>SURequireSignedFeed</key>
    <true/>
    <key>SUSignedFeedFailureExpirationInterval</key>
    <integer>0</integer>
</dict>
</plist>
